# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
build
dist

# Cache
.cache
*.log

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
